.pagination-container {
  padding: 24px;
}

.pagination-buttons-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

button {
  margin: 0 6px;
}

.pagination-info-container {
  text-align: center;
  margin-top: 24px;
  color: var(--color-text-secondary);
}
