.container-pagination {
  padding: 24px;
}

.container-pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

button {
  margin: 0 6px;
}

.container-pagination-info {
  text-align: center;
  margin-top: 24px;
  color: var(--color-text-secondary);
}
