.movie-card {
  margin: 12px;
  height: 355px;
  width: 270px;
  background-image: var(--background-image-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 4px;
}

.movie-title {
  height: 157px;
  display: flex;
  flex-direction: column-reverse;
  text-transform: uppercase;
  padding: 16px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    #000000 100%
  );
}
