.movie-card {
  margin: 12px;
  height: 355px;
  width: 270px;
  background-image: var(--background-image-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 4px;
}

.movie-title {
  height: 157px;
  display: flex;
  flex-direction: column-reverse;
  text-transform: uppercase;
  padding: 16px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    #000000 100%
  );
  color: #eeeeee;
  font-weight: 600;
}

.movie-title-genres {
  text-transform: capitalize;
  font-weight: 400;
  color: #b4b4b4;
  font-size: var(--font-size-small);
}

.vote-average {
  display: flex;
  justify-content: center;
}

.vote-average,
.movie-title-genres {
  display: none;
}

.movie-card:hover .vote-average {
  display: flex;
  justify-content: center;
}

.movie-card:hover .movie-title-genres {
  display: block;
}
