.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
}

.filter-container-form {
  display: flex;
  align-items: center;
}

.filter-container-input {
  color: var(--color-text-secondary);
  background-color: var(--color-background-primary);
  border: 1px solid;
  border-radius: 4px;
  padding: 16px;
  margin: 0 10px;
  width: 500px;
}
