/* ========================================================================== */
/* BÁSICO RESET CSS                                                           */
/* Fonte: Baseado em normalize.css e Eric Meyer's reset                       */
/* ========================================================================== */

/* Use a box-sizing do tipo border-box para facilitar o layout */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margens e paddings padrão de todos os elementos para evitar inconsistências */
* {
  margin: 0;
  padding: 0;
}

/* Redefine a fonte padrão do HTML e ajusta o line-height */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; /* Evita que o texto aumente no iOS */
}

/* Remove a lista de marcadores padrão em ul e ol */
ul,
ol {
  list-style: none;
}

/* Remove a decoração de texto em links para que você possa estilizá-los */
a {
  text-decoration: none;
  color: inherit;
}

/* Garante que imagens, iframes e vídeos não tenham bordas e se ajustem corretamente */
img,
iframe,
video,
svg,
picture {
  display: block;
  max-width: 100%;
}

/* Redefine os elementos semânticos para se comportarem como blocos */
article,
aside,
footer,
header,
hgroup,
nav,
section,
figcaption,
figure,
main {
  display: block;
}

/* Garante que botões e inputs tenham estilos base consistentes */
button,
input,
select,
textarea {
  font: inherit; /* Herda a fonte do corpo do documento */
  border: none;
  background: none;
  outline: none;
}

/* Redefine a aparência de elementos de formulário */
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
